@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

body{
    font-family: 'Courier New', Courier, monospaces;
    font-size: 15px;
    Line-height: 24px;
}

html, body{
    margin: 0;
    padding: 0;
}

p,ul, ol{
    font-size: 15px;
    line-height: 25px;
}

p.cap{
    font-size: 15px;
    color: grey;
    font-style: italic;
    margin: 0;
}
header{
    text-align: center;
    padding: 20px;
    background-color: rgb(240, 169, 38);
}

header .pfp{
    width: 200px;
    height: 200px;
    border: 10px solid white;
    border-radius: 50%; 
    background-image: url("./../img/Sakomoto-pfp.jpg");
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

h1 {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 40px; 
    margin: 30px 0 20px 0;
}

h2{
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px; 
    color: white;
    margin: 40px 0 10px 0;
    background-color: rgb(38, 105, 53);
    max-width: 97%;
}

@media (max-width: 600px){
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 20px;
    }
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    
}

main img{
    max-width: 100%;
}
/* Footer */
footer{
    background-color: rgb(32, 98, 34);
    padding: 40px; 
    text-align: center;
    color: white;

}
footer.content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

footer a{
    color: white
}

footer a:hover{
    color: orange
}
@media (max-width: 600px){
    footer p{
    font size: 16px;
    }
}